body{
    margin: 0;
    padding: 0;
    height: 500px;
    width: 500px;
    background: url(loginbg.avif);
    background-size: cover;
    background-position: center;
}
.bd
{
    background-position: center;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 0px 30px;
}